<% include ../partials/header %>
<div class="container text-center">
    <div class="row">
            <h1>Create a new campground</h1>
            <form method="POST" action="/campgrounds" style="width:40%; margin: 25px auto;">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Image URL" name="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>